#contact {
    background: #ffffff;
    background: linear-gradient(129deg, rgba(255, 255, 255, 1) 0%, rgb(203, 200, 243) 100%);
    padding: 30px 0;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 85%;
    gap: 2rem;
    border-radius: 10px;
    background-color: white;
    margin: 1rem auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-heading {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
.contact-heading h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}
.contact-heading p {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
}
.contact-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-item {
    display: flex;
    gap: 5px;
    height: 60px;
}
.contact-icon{
    font-size: 24px;
    color: #333;
    width: 30px;
    height: 100%;
    padding: 0 15px;
    border-radius: 10px;
    background-color: rgb(230, 230, 249);
    color: blue;
}
.contact .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    text-align: start;
}
.contact-item .data h3 {
    font-size: 1rem;
    font-weight: lighter;
    color: #333;
    margin: 0;
}
.contact-item .data p {
    font-size: 1rem;
    color: #666;
    margin: 0;
    text-align: start;
}
.contact-item .data p a {
    color: #666;
    text-decoration: none;
    display: inline-block;
    max-width: 190px;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;

}
.contact-item .data p a:hover {
    text-decoration: underline;
}
.contact-item .data p a:active {
    color: #7e95fc;
}
.contact-icons {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
.contact-icons a {
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}   
.contact-icons a:hover {
    color: #7e95fc;
}
@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        padding: 20px;
    }
    .contact-heading, .contact-info {
        width: 100%;
    }
    .contact-form {
        width: 100%;
    }
    .contact-form .form-group .error{
        right: 20%;
    }
}
@media (max-width: 480px) {
    .contact{
        width: 80%;
    }
    .contact-form input {
        width: 90%;
    }
    .contact-form button {
        width: 100%;
    }
}